{
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.js",
      "options": {
        "singleQuote": false,
        "trailingComma": "es5"
      }
    }
  ]
}
