body {
  min-height: 100vh;
  /* border: 2px solid red; */
}

body .container {
  margin: 3rem;
  width: 100%;
  height: 100%;
}

body .container .btn {
  padding: 1rem;
}

body .container .btn-left {
  margin-right: 0.25rem;
}

body .container .btn-right {
  margin-left: 0.25rem;
}

body .container .users {
  margin-top: 2rem;
}

body .container .users table,
th,
td {
  border: 1px solid black;
}

body .container .error-msg {
  color: rgb(180, 0, 0);
}
